@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  background: #5b5959;
  font-family: "Poppins", sans-serif;
}

header {
  margin-bottom: 2rem;
}

/* Nav Design */
.navMenu {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: transparent;
  padding: 1rem 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.navMenu a {
  background: #00ffa0;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  text-decoration: none;
}

.navMenu a:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}
.navMenu a:active {
transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

/* Sections */
.section {
  padding: 7rem 0;
}

.section-title {
  text-align: center;
  color: #f6f4e6;
  margin-bottom: 3rem;
}

/* About Designs */
.aboutme-card {
  background: #00ffa0;
  border-radius: 1rem;
  border: 0.5vmin solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem 0;
}

.about-text {
  max-width: 600px;
  margin: 1rem;
  line-height: 1.5;
  font-size: 1.1rem;
}

/* Projects */
.project-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.project-container a {
  text-decoration: none;
  color: inherit;
}

.project-title {
  text-align: center;
  color: #05060f;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 700;
}

.project-details {
  text-align: center;
  display: flex;
  color: #05060f;
  font-size: 0.8rem;
  line-height: 1.25;
}

.projects-card {
  width: 190px;
  height: 254px;
  border-radius: 1rem;
  border: 0.5vmin solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  background: #00ffa0;
  transition: all 0.4s;
  box-shadow: 0.4rem 0.4rem #05060f;
  font-size: 30px;
  font-weight: 900;
}

.projects-card:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0.4rem 0.4rem #05060f;
  background: #00ffa0;
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}

.projects-card:hover .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0.8rem;
  transform: rotate(90deg) scale(-1);
}

.projects-card:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}

/* Contacts Design */
.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.contact-button {
  background: #00ffa0;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

.contact-button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.contact-button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: beige;
  --main-color: black;
  padding: 20px;
  background: #00ffa0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.title {
  color: var(--font-color);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 25px;
}

.title span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 17px;
}

.input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input:focus {
  border: 2px solid var(--input-focus);
}

.login-with {
  display: flex;
  gap: 20px;
}

.button-log {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  color: var(--font-color);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--main-color);
}

.button-log:active, .button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.button-confirm {
  margin: 50px auto 0 auto;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

.footer {
    background: #333;
    color: #f6f4e6;
    text-align: center;
    padding: 1rem 0;
}

footer {
  margin-top: 2rem;
}
